@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=ABeeZee:400,400i");

h1, h2, h3, h4, h5, h6
{
	font-weight: bolder;
	margin: 0em 0em 0.3em 0em;
	margin: logical 0em 0em 0.3em 0em;
	padding: 0em;
	border-style: none none solid none;
	border-style: logical none none solid none;
	border-width: 0em 0em 0.1em 0em;
	border-width: logical 0em 0em 0.1em 0em;
	border-image: linear-gradient(90deg, transparent 0%, currentcolor 10%, transparent 80%, transparent 100%) 100% 0%;
	border-image-transform: logical;
	break-inside: avoid;
	font-family: "ABeeZee", sans-serif;
}

h1
{
	font-size: 200%;
}

h2
{
	font-size: 150%;
}

h3
{
	font-size: 125%;
}

h4
{
	font-size: 112.5%;
}

h5
{
	font-size: 106.25%;
}

h6
{
	font-size: 103.125;
}
