@charset "utf-8";

table
{
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin: 1em 0em;
	margin: logical 1em 0em;
}

table, thead, tbody, tfoot, tr, th, td, caption
{
	border: calc(0.5em / 8) solid black;
}

caption
{
	border-bottom-width: calc(0.5em * 2 / 8);
}

th, caption
{
	font-weight: bolder;
}

thead td
{
	font-style: italic;
}

thead
{
	border-bottom-width: calc(0.5em * 3 / 8);
}

th, td, caption
{
	padding: 0.5em;
}
